<!DOCTYPE html>
<html>
    <head>        
        <link rel="stylesheet" href="/static/game_screen.css">
        <script src="/static/jquery-3.7.1.min.js"></script>
        <script language="javascript" src="/static/game_screen.js"></script>                 
        <title>Game Setup</title>
    </head>
    <body>
        <h1>Game Screen</h1>
        <div class="grid_container">
            <div class="side_bar" id="side_bar">
                <p> <a href="javascript:PostAction('test')" title="hover text">click</a> </p>
            </div>
            <div class="image_item gamedisplay_item" id="image_item">
                <p> image </p>
            </div>
            <div class="status_item gamedisplay_item" id="status_item">
                <p> stats </p>
            </div>
            <div class="map_item gamedisplay_item" id="map_item">
                <p> map </p>
            </div>
            <div class="room_item gamedisplay_item" id="room_item">
                <p> room </p>
            </div>
            <div class="items_item gamedisplay_item" id="items_item">
                <p> items </p>
            </div>
            <div class="events_item gamedisplay_item" id="events_item">
                <p> events </p>
            </div>
        </div>
        
    </body>
</html>